body {
    font-family: Arial, sans-serif;
    text-align:justify;
    margin: 40px;
    background-color: 2b2b2b;
    color: #fce1e1;
}

h2 {
    color: #2c3e50;
    margin-bottom: 20px;
}

form {
    background-color: #1f0000;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 100%;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.radio-group {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 5px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #f8e4e4;
    color: rgb(37, 1, 1);
    border: none;
    border-radius: 4px;
    border-color: #e2dcdc;
    cursor: pointer;
    font-size: 16px;
    box-shadow: #ff0000;
    
}

input[type="submit"]:hover {
    background-color: #2b2b2b;
    color: #ffffff;
    border: #ff0000;
    box-shadow: #ccc;

}
